<div class="secondary-header">
  <%= render 'leads/menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">商談CSVインポート</h1>
</header>

<main class="main-contents">
  <div class="contents-box">
    <%= form_with(model: @csv, url: leads_csvs_path, html: { method: :post, class: 'form-default' }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.file_field :csv_file, required: true %>
      </div>

      <%= f.submit t('common.create'), class: 'btn btn-m default' %>
    <% end %>
  </div>
</main><!-- .main-contents -->
