<% content_for(:title, 'ベンダー - 商談項目一覧') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'vendor_page/products/show_parts/header' %>
</header><!-- .primary-header -->

<div class="secondary-header">
  <%= render 'vendor_page/products/show_parts/page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.lead_column.name') %></td>
          <td><%= t('activerecord.attributes.lead_column.key_name') %></td>
          <td><%= t('activerecord.attributes.lead_column.data_type') %></td>
          <td><%= t('activerecord.attributes.lead_column.lead_attribute') %></td>
          <td><%= t('activerecord.attributes.lead_column.order') %></td>
          <td><%= t('activerecord.attributes.lead_column.index_page_order') %></td>
        </tr>
      </thead>
      <tbody>
        <% @lead_columns.each do |lead_column| %>
          <tr>
            <td>
              <%= lead_column.name %><br />
              <%= lead_column.display_lead_column_select_items %>
            </td>
            <td><%= lead_column.key_name %></td>
            <td><%= lead_column.data_type_i18n %></td>
            <td><%= lead_column.display_lead_attribute %></td>
            <td><%= lead_column.order %></td>
            <td><%= lead_column.index_page_order %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

  <h2 class="mb-4">新規項目追加</h2>

  <%= form_with(model: @lead_column, url: vendor_page_products_lead_columns_path(uid: @product.uid), html: { method: :post, class: 'form-default' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <p><%= f.label :order %></p>
      <%= f.text_field :order, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p><%= f.label :name %></p>
      <%= f.text_field :name, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p><%= f.label :key_name %></p>
      <%= f.text_field :key_name, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p class="mb-1"><%= f.label :data_type %></p>
      <div class="select-wrap half">
        <%= f.select :data_type, LeadColumn.data_types_i18n.invert.to_a, {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <p><%= f.label :lead_column_select_items, '選択肢の項目（項目毎に改行してください）' %></p>
      <%= text_area_tag :lead_column_select_items, nil, {class: 'form-control half', rows: 6} %>
    </div>

    <%= f.submit t('common.create'), class: 'btn btn-m default' %>
  <% end %>

</main><!-- .main-contents -->