<% content_for(:title, 'ファイルダウンロード履歴') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>ファイル詳細</h1>
    <p class="mb-0">共有ファイルの閲覧可能パートナーの制限や、閲覧できるユーザーの権限が設定できます。</p>
  </div>
</header><!-- .primary-header -->
<div class="secondary-header">
  <%= render 'files/page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">

  <div class="d-flex sp-none mb-3">
    <div class="text-sl">表示件数:<%= @histories.total_count %>件</div>
    <%= paginate @histories %>
  </div>

  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.download_file_history.file') %></td>
          <td><%= t('activerecord.attributes.download_file_history.staff') %></td>
          <td><%= t('activerecord.attributes.download_file_history.organization') %></td>
          <td><%= t('activerecord.attributes.download_file_history.created_at') %></td>
        </tr>
      </thead>
      <tbody>
        <% @histories.each do |history| %>
          <tr>
            <td><%= history.shared_file.name %></td>
            <td>
              <%= image_tag history.staff.decorate.thumbnail, class: 'thumb' %>
              <%= history.staff.name %>
            </td>
            <td>
              <%= image_tag history.staff.company.decorate.thumbnail, class: 'thumb' %>
              <%= history.staff.company.name %>
            </td>
            <td><%= history.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->
