<% content_for(:title, '自社社員アカウント') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>社員アカウント</h1>
    <p class="mb-0">開設している社員のアカウントを管理します。</p>
  </div>

  <div class="d-flex ml-auto">
    <%= link_to t('common.new'), new_account_setting_user_path, class: 'btn btn-s default' %>
  </div>
</header><!-- .primary-header -->

<main class="main-contents">
  
  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.user.name') %></td>
          <td><%= t('activerecord.attributes.user.email') %></td>
          <td><%= t('activerecord.attributes.user.created_at') %></td>
          <td><%= t('activerecord.attributes.user.last_sign_in_at') %></td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to account_setting_user_path(uid: user.uid) do %>
                <%= image_tag user.decorate.thumbnail, class: 'thumb' %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= user.last_sign_in_at&.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->
