<% content_for(:title, 'ベンダー - パートナー詳細') %>

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0"><%= @partner.name %></h1>
</header><!-- .primary-header -->
<div class="secondary-header">
</div><!-- .secondary-header -->

<main class="main-contents">
  <h2 class="mb-4">企業情報</h2>

  <div class="contents-box">
    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.name' %></dt>
      <dd><%= @partner.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.address' %></dt>
      <dd><%= @partner.address %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.hierarchy' %></dt>
      <dd><%= @partner.hierarchy_i18n %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.vendor_memo' %></dt>
      <dd><%= @partner.vendor_memo %></dd>
    </dl>

  </div>

</main><!-- .main-contents -->
