<% content_for(:title, t('activerecord.models.partner') + '詳細') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'partners/show_parts/header' %>
</header><!-- .primary-header -->

<main class="main-contents">
  <div class="contents-box mb-4">
    <h2 class="mb-4">基本情報</h2>
    <% @current_vendor_group.table_columns.where(table_type: 'company').order(position: 'ASC').each do |table_column| %>
      <dl class="definition-list">
        <dt><%= table_column.name %></dt>
        <%= render 'table_columns/list', table_column: table_column, object: @partner %>
      </dl>
    <% end %>
  </div>

  <div class="contents-box mb-4">
    <h2 class="mb-4"><%= t('activerecord.models.lead') %></h2>

    <div class="table-wrap">
      <table class="border-table">
        <thead>
          <tr>
            <% @lead_index_columns.each do |index_column| %>
              <td><%= index_column.name %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @leads.each do |lead| %>
            <tr class="clickable-tr" data-menu-item-path="<%= lead_path(uid: lead.uid) %>">
              <% @lead_index_columns.each do |index_column| %>
                <%= render 'table_columns/table_data', table_column: index_column, object: lead %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- .table-wrap -->

    <div class="d-flex">
      <%= link_to t('common.view_all'), partners_leads_path(uid: @partner.uid), class: 'btn text-btn ml-auto' %>
    </div>
  </div>
</main><!-- .main-contents -->
