<header class="primary-header d-flex align-items-center">
  <div class="mr-3"><%= image_tag @current_company.thumbnail, class: 'thumb' %></div>
  <h1 class="mb-0"><%= @current_company.name %></h1>
</header>

<main class="main-contents">
  <div class="contents-box">
    <%#= render 'shared/error_messages', object: @current_company %>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.contract_type' %></dt>
      <dd><%= @current_company.contract_type_i18n %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.name' %></dt>
      <dd><%= @current_company.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.name_kana' %></dt>
      <dd><%= @current_company.name_kana %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.postcode' %></dt>
      <dd><%= @current_company.postcode %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.prefecture_id' %></dt>
      <dd><%= @current_company.prefecture.name %></dd>
    </dl>


    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.address' %></dt>
      <dd><%= @current_company.address %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.address2' %></dt>
      <dd><%= @current_company.address2 %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.email' %></dt>
      <dd><%= @current_company.email %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.phone' %></dt>
      <dd><%= @current_company.phone %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.company.settlement_month' %></dt>
      <dd><%= @current_company.settlement_month %></dd>
    </dl>
  </div>

</main><!-- .main-contents -->
