<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">会社新規登録</h1>
</header>

<div class="secondary-header">
</div><!-- .secondary-header -->

<main class="main-contents">
  <%= form_with(model: @company, url: admin_page_companies_path, html: { method: :post, class: 'form-default' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <p><%= f.label :name %></p>
      <%= f.text_field :name, class: 'form-control half' %>
    </div>

    <%= f.submit t('common.create'), class: 'btn btn-m default' %>
  <% end %>

</main><!-- .main-contents -->
