<header class="primary-header d-flex align-items-center">
  <div>
    <h1>ユーザー一覧</h1>
    <p class="mb-0">ユーザー一覧です</p>
  </div>

  <div class="d-flex ml-auto">
    <%= link_to t('common.new'), new_admin_page_user_path, class: 'btn btn-m default before-icon plus' %>
  </div>
</header><!-- .primary-header -->
<div class="secondary-header">
</div><!-- .secondary-header -->

<main class="main-contents">

  <div class="d-flex sp-none mb-3">
    <div class="text-sl">表示件数:<%= @users.total_count %>件</div>
    <%= paginate @users %>
  </div>

  <%= form_tag '#', method: :get, class: 'form-default d-flex mw-100' do %>
    <div class="form-group ml-auto">
      <div class="select-wrap">
        <%= collection_select '', :company_id, Company.all, :id, :name, {include_blank: '企業名', selected: params[:company_id]},{class: 'form-control mb-0 autoSubmit'} %>
      </div>
    </div>
    <%#= link_to '検索条件をクリア', request.path, class: 'btn btn-m border-gray mb-0 mb-md-4' %>
    <%= submit_tag 'この条件で絞り込む', class: 'btn btn-m border-primary autoSubmitButton hide' %>
  <% end %>

  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.user.name') %></td>
          <td><%= t('activerecord.attributes.user.company_id') %></td>
          <td><%= t('activerecord.attributes.user.email') %></td>
          <td>開設日</td>
          <td>最終ログイン</td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to admin_page_user_path(user) do %>
                <%= image_tag user.decorate.thumbnail, class: 'thumb' %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.company.name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->
