<div class="secondary-header">
  <%= render 'admin_page/leads/menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">商談CSVインポート</h1>
</header>

<main class="main-contents">
  <%= form_with(model: @csv, url: admin_page_leads_csvs_path, html: { method: :post, class: 'form-default' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <p><%= f.label :vendor_group_id, 'ベンダー' %></p>
      <div class="select-wrap">
        <%= f.collection_select :vendor_group_id, @vendor_group, :id, :display_name, {},{class: 'form-control disabled'} %>
      </div>
    </div>

    <div class="form-group">
      <p><%= label_tag :product_id, '商品' %></p>
      <div class="select-wrap">
        <%= collection_select '', :product_id, @products, :id, :name, {include_blank: '---'},{class: 'form-control', required: true} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.file_field :csv_file, required: true %>
    </div>

    <%= f.submit t('common.create'), class: 'btn btn-m default' %>
  <% end %>

</main><!-- .main-contents -->
