<div class="secondary-header">
  <%= render 'menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>案件一覧</h1>
    <p class="mb-0">案件一覧です</p>
  </div>

  <div class="d-flex ml-auto">
    <%= link_to t('common.new'), new_admin_page_lead_path, class: 'btn btn-m default before-icon plus' %>
  </div>
</header><!-- .primary-header -->

<main class="main-contents">

  <div class="d-flex sp-none mb-3">
    <div class="text-sl">表示件数:<%= @leads.total_count %>件</div>
    <%= paginate @leads %>
  </div>

  <%= form_tag '#', method: :get, class: 'form-default d-flex mw-100' do %>
    <div class="form-group ml-auto">
      <div class="select-wrap">
        <%= collection_select '', :company_id, Company.all, :id, :name, {include_blank: '企業名', selected: params[:company_id]},{class: 'form-control mb-0 autoSubmit'} %>
      </div>
    </div>
    <%#= link_to '検索条件をクリア', request.path, class: 'btn btn-m border-gray mb-0 mb-md-4' %>
    <%= submit_tag 'この条件で絞り込む', class: 'btn btn-m border-primary autoSubmitButton hide' %>
  <% end %>

  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.lead.id') %></td>
          <td><%= t('activerecord.attributes.lead.maker_group_id') %></td>
          <td><%= t('lead.columns.unique_key') %></td>
          <td><%= t('lead.columns.partner_id') %></td>
          <td><%= t('lead.columns.product_id') %></td>
          <td><%= t('lead.columns.user_info_partner_1_id') %></td>
          <td><%= t('lead.columns.select_item_1_id') %></td>
          <td><%= t('lead.columns.select_item_2_id') %></td>
          <td><%= t('lead.columns.select_item_3_id') %></td>
        </tr>
      </thead>
      <tbody>
        <% @leads.each do |lead| %>
          <tr>
            <td><%= lead.id %></td>
            <td><%= lead.maker_group.maker.name %></td>
            <td><%= lead.unique_key %></td>
            <td><%= lead.partner.name %></td>
            <td><%= lead.product.name %></td>
            <td>
              <%= lead.product.lead_columns.where(lead_attribute: 'user_info_partner_1_id')&.last&.name %><br />
              <%= lead.user_info_partner_1&.name %>
            </td>
            <td>
              <%= lead.product.lead_columns.where(lead_attribute: 'select_item_1_id')&.last&.name %><br />
              <%= lead.select_item_1&.name %>
            </td>
            <td>
              <%= lead.product.lead_columns.where(lead_attribute: 'select_item_2_id')&.last&.name %><br />
              <%= lead.select_item_2&.name %>
            </td>
            <td>
              <%= lead.product.lead_columns.where(lead_attribute: 'select_item_3_id')&.last&.name %><br />
              <%= lead.select_item_3&.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->
