<% content_for(:title, 'メーカー - ファイル追加') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>ファイル新規作成</h1>
    <p class="mb-0">ファイルのアップロードができます</p>
  </div>
</header>

<main class="main-contents">
  <div class="main-center-col w-100">
    <div class="contents-box">
      <h2 class="contents-box-title mb-5">ファイル</h2>

      <%= form_with(model: @file, url: maker_page_files_path, html: { method: :post, class: 'form-default' }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <p><%= f.label :title %></p>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <p class="mb-1"><%= f.label :file %></p>
          <%= f.file_field :file, id: 'file-field', class: 'file-field', data: {image: 'upload-file'}  %>
        </div>

        <%= f.submit t('common.update'), class: 'btn btn-m default' %>
      <% end %>

    </div>
  </div><!-- .main-center-col -->

</main><!-- .main-contents -->
