<% content_for(:title, '自社 担当者一覧') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>自社 担当者一覧</h1>
    <p class="mb-0">自社の担当者を管理できます。</p>
  </div>

  <div class="d-flex ml-auto">
    <%= link_to t('common.new'), new_my_company_staff_path, class: 'btn btn-s default' %>
  </div>
</header><!-- .primary-header -->

<main class="main-contents">
  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td>アカウント開設</td>
          <% @index_columns.each do |index_column| %>
            <td><%= index_column.name %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @staffs.each do |staff| %>
          <tr class="clickable-tr" data-menu-item-path="<%= my_company_staff_path(uid: staff.uid) %>">
            <td><%= staff.has_account %></td>
            <% @index_columns.each do |index_column| %>
              <%= render 'table_columns/table_data', table_column: index_column, object: staff %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->