<% content_for(:title, 'ログイン') %>
<% content_for(:body_class, 'login') %>
<% content_for(:body_id, '') %>

<main class="main-contents">
  <div class="contents-box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-default mr-auto ml-auto'}) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="text-center"><%= f.submit 'ログイン', class: 'btn btn-m default mb-4' %></div>

      <p class="text-center mb-1"><%= link_to 'パスワードを忘れた時はこちら', new_user_password_path, class: 'text-link' %></p>
      <p class="text-center mb-4"><%= link_to 'メールアドレス確認メールを再発行するにはこちら', new_user_confirmation_path, class: 'text-link' %></p>
    <% end %>
  </div>
  
</main><!-- .main-contents -->
