<% content_for(:title, 'メーカー - 商品詳細') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'maker_page/products/show_parts/header' %>
</header><!-- .primary-header -->
<div class="secondary-header">
  <%= render 'maker_page/products/show_parts/page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">
  <div class="contents-box">
    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.code' %></dt>
      <dd><%= @product.code %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.name' %></dt>
      <dd><%= @product.name %></dd>
    </dl>

  </div>

</main><!-- .main-contents -->
