<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">申し込み詳細</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents d-flex">
  
  <div class="contents-box w-100">
    <h2 class="">商品情報</h2>

    <dl class="definition-list">
      <dt><%= 'ユニークキー' %></dt>
      <dd><%= @offer.unique_key %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= 'メーカー' %></dt>
      <dd><%= @offer.maker_group.maker.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= 'ベンダー' %></dt>
      <dd><%= @offer.vendor_group.vendor.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= 'パートナー' %></dt>
      <dd><%= @offer.vendor_group.vendor.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= '担当者' %></dt>
      <dd><%= @offer.user.user_profile.name %></dd>
    </dl>

    <% @offer.offer_metas.each do |meta| %>
      <dl class="definition-list">
        <dt><%= meta.meta_label %></dt>
        <dd><%= meta.meta_value %></dd>
      </dl>
    <% end %>
  </div>

  <div class="main-right-col sp-none">
    <div class="label-box-s mb-4">
      てきすと
    </div>
  </div><!-- .main-right-col -->

</main><!-- .main-contents -->