<% content_for(:title, '自社社員権限管理') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>自社社員権限管理</h1>
    <p class="mb-0">社員のアカウントの権限を管理します。</p>
  </div>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <div class="table-wrap sp-none">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.user.name') %></td>
          <td><%= t('activerecord.attributes.user.email') %></td>
          <td><%= t('activerecord.attributes.user.role') %></td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to company_page_user_path(uid: user.uid) do %>
                <%= image_tag user.decorate.thumbnail, class: 'thumb' %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
             <td><%= user.role_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->
