<% content_for(:title, 'メーカー - 案件項目一覧') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'maker_page/products/show_parts/header' %>
</header><!-- .primary-header -->

<div class="secondary-header">
  <%= render 'maker_page/products/show_parts/page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td><%= t('activerecord.attributes.lead_index_column.name') %></td>
          <td><%= t('activerecord.attributes.lead_index_column.data_type') %></td>
          <td><%= t('activerecord.attributes.lead_index_column.order') %></td>
        </tr>
      </thead>
      <tbody>
        <% @index_columns.each do |index_column| %>
          <tr>
            <td><%= index_column.name %></td>
            <td><%= index_column.data_type_i18n %></td>
            <td><%= index_column.order %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->