<nav class="main-menu">
  <ul class="main-menu-list">
    <li><%= link_to 'ダッシュボード', maker_page_dashboards_path %></li>
    <li><%= link_to '商品管理', maker_page_products_path %></li>
    <li><%= link_to 'パートナー管理', maker_page_partners_path %></li>
    <li><%= link_to '契約管理', maker_page_vendor_groups_path %></li>
    <li><%= link_to 'ファイル管理', maker_page_files_path %></li>
    <li><%= link_to 'ダウンロード履歴', maker_page_download_histories_path %></li>
  </ul>

  <div class="main-menu-footer">
    <ul class="main-menu-list">
      <li><%= link_to '通常メニューへ', root_path %></li>
    </ul>
  </div>

</nav><!-- .main-menu -->
