<% content_for(:title, '商談項目一覧') %>

<div class="secondary-header">
  <%= render 'vendor_setting/page_menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">商談項目一覧</h1>
</header><!-- .primary-header -->

<main class="main-contents">
  <div class="table-header d-flex">
    <%= content_tag(:button, t('common.new'), class: 'btn btn-s default ml-auto', id: 'modalOpen') %>
  </div>
  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td></td>
          <td><%= t('activerecord.attributes.table_column.name') %></td>
          <td><%= t('activerecord.attributes.table_column.key_name') %></td>
          <td><%= t('activerecord.attributes.table_column.data_type') %></td>
          <td><%= t('activerecord.attributes.table_column.position') %></td>
          <td><%= t('activerecord.attributes.table_column.index_page_position') %></td>
        </tr>
      </thead>
      <tbody id="sortableList" data-url="<%= sort_vendor_setting_lead_columns_path %>">
        <% @lead_columns.each do |lead_column| %>
          <tr data-id="<%= lead_column.id %>">
            <td class="order-handler"><span class="sortable-icon"></span>
            <td>
              <%= lead_column.name %><br />
              <%#= lead_column.display_table_column_select_items %>
            </td>
            <td><%= lead_column.key_name %></td>
            <td><%= lead_column.data_type_i18n %></td>
            <td class="position"><%= lead_column.position %></td>
            <td><%= lead_column.index_page_position %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

  <h2 class="mb-4">新規項目追加</h2>

  <%= form_with(model: @lead_column, url: vendor_setting_lead_columns_path, html: { method: :post, class: 'form-default' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <p><%= f.label :position %></p>
      <%= f.text_field :position, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p><%= f.label :name %></p>
      <%= f.text_field :name, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p><%= f.label :key_name %></p>
      <%= f.text_field :key_name, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p class="mb-1"><%= f.label :data_type %></p>
      <div class="select-wrap half">
        <%= f.select :data_type, TableColumn.data_types_i18n.invert.to_a, {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <p><%= f.label :table_column_select_items, '選択肢の項目（項目毎に改行してください）' %></p>
      <%= text_area_tag :table_column_select_items, nil, {class: 'form-control half', rows: 6} %>
    </div>

    <%= f.submit t('common.create'), class: 'btn btn-m default' %>
  <% end %>

</main><!-- .main-contents -->