<% content_for(:title, 'メーカー - 契約詳細') %>

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0"><%= @vendor_group.vendor.name %>との契約</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  <ul class="tab-menu-list">
    <li class="<%= 'current' if controller_path == 'maker_page/vendor_groups' %>"><%= link_to '企業情報', maker_page_vendor_group_path(uid: @vendor_group.uid) %></li>
    <li class="<%= 'current' if controller_path == '' %>"><%= link_to '報酬設計', maker_page_vendor_group_path(uid: @vendor_group.uid) %></li>
  </ul>
</div><!-- .secondary-header -->

<main class="main-contents">
  <h2 class="mb-4">企業情報</h2>

  <div class="contents-box">
    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.vendor_group.vendor' %></dt>
      <dd><%= @vendor_group.vendor.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.vendor_group.product' %></dt>
      <dd><%= @vendor_group.product.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.vendor_group.layer' %></dt>
      <dd><%= @vendor_group.layer_i18n %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.vendor_group.maker_memo' %></dt>
      <dd><%= @vendor_group.maker_memo %></dd>
    </dl>

  </div>

</main><!-- .main-contents -->
