<% content_for(:title, '商品詳細') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'products/show_parts/header' %>
</header><!-- .primary-header -->
<div class="secondary-header">
  <ul class="heade-icon-list d-flex p-4 pr-5">
    <li class="ml-auto"><i id="commentOpen" class="icon-comment"></i></li>
  </ul>
</div><!-- .secondary-header -->

<main class="main-contents">
  <div class="contents-box">
    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.code' %></dt>
      <dd><%= @product.code %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.name' %></dt>
      <dd><%= @product.name %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.agency_price' %></dt>
      <dd><%= @product.agency_price %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.agency_incentive' %></dt>
      <dd><%= @product.agency_incentive %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.agency_description' %></dt>
      <dd><%= @product.agency_description %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.introduction_price' %></dt>
      <dd><%= @product.introduction_price %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.introduction_incentive' %></dt>
      <dd><%= @product.introduction_incentive %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.introduction_description' %></dt>
      <dd><%= @product.introduction_description %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.wholesale_price' %></dt>
      <dd><%= @product.wholesale_price %></dd>
    </dl>

    <dl class="definition-list">
      <dt><%= t 'activerecord.attributes.product.wholesale_description' %></dt>
      <dd><%= @product.wholesale_description %></dd>
    </dl>

  </div>

</main><!-- .main-contents -->


<div id="rightCol" class="right-col">
  <h2 class="d-flex align-items-center">コメント<i id="rightColClose" class="icon-cancel ml-auto"></i></h2>
  <%= react_component 'messages/MessagesIndex', related_object: 'product', related_object_uid: @product.uid %>
</div>
