<% content_for(:title, '商品詳細') %>

<div class="secondary-header">
  <%= render 'products/show_parts/page_menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <%= render 'products/show_parts/header' %>
</header><!-- .primary-header -->

<div class="secondary-header">
  <ul class="heade-icon-list d-flex p-4 pr-5">
    <li class="ml-auto"><i id="commentOpen" class="icon-comment"></i></li>
  </ul>
</div><!-- .secondary-header -->

<main class="main-contents">
  <div class="contents-box">
    <% @current_vendor_group.table_columns.where(table_type: 'product').order(position: 'ASC').each do |table_column| %>
      <dl class="definition-list">
        <dt><%= table_column.name %></dt>
        <%= render 'table_columns/list', table_column: table_column, object: @product %>
      </dl>
    <% end %>
  </div>
</main><!-- .main-contents -->

<div id="rightCol" class="right-col">
  <h2 class="d-flex align-items-center">コメント<i id="rightColClose" class="icon-cancel ml-auto"></i></h2>
  <%= react_component 'messages/MessagesIndex', related_object: 'product', related_object_uid: @product.uid %>
</div>
