<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0"><%= @vendor_group.vendor.name %>の<%= @vendor_group.maker_group.maker.name %>における販売グループ</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
  <h2><%= @vendor_group.vendor.name %>直接傘下のパートナー</h2>
  <div class="table-wrap sp-none">
    <table class="border-table">
      <thead>
        <tr>
          <td>会社名</td>
          <td>階層</td>
          <td>上位店</td>
          <td>メーカー</td>
        </tr>
      </thead>
      <tbody>
        <% @agents.each do |agent| %>
          <tr>
            <td><%= link_to agent.company.name, agent_path(uid: agent.uid) %></td>
            <td><%= agent.display_hierarchy %></td>
            <td><%= agent&.parent&.name %></td>
            <td><%= agent.maker_group.maker.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

  <h2>配下の全てのパートナーへの周知事項</h2>
  <div class="table-wrap sp-none">
    <table class="border-table">
      <thead>
        <tr>
          <td>タイトル</td>
        </tr>
      </thead>
      <tbody>
        <% @vendor_group.vendor_informations.each do |information| %>
          <tr>
            <td><%= link_to information.title, vendor_information_path(information) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

  <h2><%= @vendor_group.vendor.name %>直接傘下のパートナーの申し込み</h2>
  <%= render 'offers/offers_table', offers: @vendor_group.offers.decorate %>

</main><!-- .main-contents -->