<header class="main-header d-flex">
  <div class="maker-info">
    <%= image_tag @current_maker_group.maker.decorate.thumbnail, class: 'header-icon mr-3' %>
    <span class="maker-name"><%= @current_maker_group.maker.name %></span>
  </div>

  <nav id="makerMenu" class="header-menu">
    <ul>
      <li><%= link_to '商品マスタ', products_path %></li>
      <li><%= link_to 'NG顧客リスト', root_path %></li>
    </ul>
  </nav>
  <div id="makerMenuBg" class="header-menu-bg"></div>

  <div class="ml-auto d-flex">
    <ul class="main-header-icon-list">
      <li><i class="icon-notification"></i></li>
    </ul>

    <%= image_tag current_user.decorate.thumbnail, class: 'header-icon', id: 'userIcon' %>

    <nav id="userMenu" class="header-menu">
      <h2 class="header-menu-title"><i class="icon-company"></i><%= @current_company.name %></h2>
      <ul class="mb-3">
        <li><%= link_to '会社情報', company_page_profile_path %></li>
        <li><%= link_to '社員名簿', company_page_user_profiles_path %></li>
        <li><%= link_to '社員アカウント', company_page_users_path %></li>
        <li><%= link_to '社員権限管理', company_page_users_roles_path %></li>
        <li><%= link_to '操作権限設定', company_page_user_permissions_path %></li>
      </ul>

      <hr />

      <h2 class="header-menu-title"><i class="icon-person"></i><%= current_user.name %></h2>
      <ul>
        <li><%= link_to 'プロフィール', mypage_profile_path %></li>
        <li><%= link_to 'ユーザー設定変更', edit_mypage_user_setting_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </nav>
    <div id="userMenuBg" class="header-menu-bg"></div>

  </div>
</header>
