<header class="main-header d-flex">
  <div class="vendor-info">
    <%= image_tag @current_vendor_group.vendor_organization.decorate.thumbnail, class: 'header-icon mr-3' %>
    <span class="vendor-name"><%= @current_vendor_group.vendor_organization.name %></span>
  </div>

  <nav id="vendorMenu" class="header-menu">
    <ul>
      <li><%= link_to 'ベンダー設定', edit_vendor_setting_base_setting_path %></li>
    </ul>
  </nav>
  <div id="vendorMenuBg" class="header-menu-bg"></div>

  <div class="ml-auto d-flex">
    <ul class="main-header-icon-list">
      <li class="tricolon-menu">
        <span class=" tricolon-icon">
          <i class="icon-setting"></i>
        </span>
        <nav class="tricolon-menu-list hide">
          <ul>
            <li><%= link_to '項目設定', column_setting_lead_columns_path %></li>
          </ul>
        </nav>
        <div class="tricolon-menu-bg hide"></div>
      </li>
      <li><i class="icon-notification"></i></li>
    </ul>

    <%= image_tag current_user.decorate.thumbnail, class: 'header-icon', id: 'userIcon' %>

    <nav id="userMenu" class="header-menu">
      <h2 class="header-menu-title"><i class="icon-organization"></i><%= @current_organization.name %></h2>
      <ul class="mb-3">
        <li><%= link_to '企業プロフィール', edit_my_company_profile_path %></li>
        <li><%= link_to '担当者管理', my_company_staffs_path %></li>
      </ul>

      <hr />
      
      <h2 class="header-menu-title"><i class="icon-person"></i><%= current_user.name %></h2>
      <ul>
        <li><%= link_to 'プロフィール', edit_mypage_profile_path %></li>
      </ul>

      <hr />
      <ul>
        <li><%= link_to 'アカウント設定', edit_account_setting_my_account_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </nav>
    <div id="userMenuBg" class="header-menu-bg"></div>

  </div>
</header>
