<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/html_header' %>
  </head>

  <body class="<%= yield(:body_class) %>" id="<%= yield(:body_id) %>">
    <%= render 'layouts/main_header' %>
    
    <div class="d-flex">
      <nav class="site-navigation">
        <%= render 'layouts/vendor_page/main_menu' %>
      </nav>

      <section class="main-col w-100">
        <%= render 'layouts/flash_message' %>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
