<% content_for(:title, 'メーカー - 案件新規作成') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'maker_page/products/show_parts/header' %>
</header><!-- .primary-header -->

<div class="secondary-header">
  <%= render 'maker_page/products/show_parts/page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <%= form_with(model: @lead, url: maker_page_products_leads_path(uid: @product.uid), html: { method: :post, class: 'form-default' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <p><%= f.label :unique_key %></p>
      <%= f.text_field :unique_key, class: 'form-control half' %>
    </div>

    <div class="form-group">
      <p><%= f.label :partner_id %></p>
      <div class="select-wrap">
        <%= f.collection_select :partner_id, @current_maker_group.partners.all, :id, :name, {include_blank: '---'},{class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :maker_memo %>
      <%= f.text_area :maker_memo, class: 'form-control', placeholder: "メーカーのみが閲覧できるメモです".html_safe, rows: 6 %>
    </div>

    <%= f.submit t('common.create'), class: 'btn btn-m default' %>
  <% end %>

</main><!-- .main-contents -->